.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#back {
  background-image: url(./imgs/pokemonWP.jpg);
  position: relative;
  border: 2px solid black;
  padding: 25px;
  background-repeat: no-repeat;
  background-size:100% 100vh;
}
